.mainContainer {
  height: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
}

.stepIndicator {
  display: flex;
  flex-direction: column;
}

.routeHeadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
